@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Orbitron:wght@400;700;900&display=swap");

@font-face {
  font-family: WalsheimBold;
  src: url("../public/font/Walsheim-Bold.otf");
}

@font-face {
  font-family: WalsheimMedium;
  src: url("../public/font/Walsheim-Medium.otf");
}

* {
  font-family: "WalsheimMedium", sans-serif;
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"><path fill="%23FF6500" stroke="%23181C14" stroke-width="2.75" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>'), auto;
}

body {
  /* background: url("../public/images/bg2.png");
  background-position: center;
  background-size: contain; */
  background-color: #ECDFCC;
  overflow-x: hidden;
}

.header {
  background: url("../public/images/navbar.png");
  background-position: right;
  background-size: cover;
}

a, .navigation {
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"><path fill="%23FF6500" stroke="%23181C14" stroke-width="2.75" stroke-linejoin="round" d="M10 11V8.99c0-.88.59-1.64 1.44-1.86h.05A1.99 1.99 0 0 1 14 9.05V12v-2c0-.88.6-1.65 1.46-1.87h.05A1.98 1.98 0 0 1 18 10.06V13v-1.94a2 2 0 0 1 1.51-1.94h0A2 2 0 0 1 22 11.06V14c0 .6-.08 1.27-.21 1.97a7.96 7.96 0 0 1-7.55 6.48 54.98 54.98 0 0 1-4.48 0 7.96 7.96 0 0 1-7.55-6.48C2.08 15.27 2 14.59 2 14v-1.49c0-1.11.9-2.01 2.01-2.01h0a2 2 0 0 1 2.01 2.03l-.01.97v-10c0-1.1.9-2 2-2h0a2 2 0 0 1 2 2V11Z"></path></svg>'), auto;
}

.active {
  background: linear-gradient(45deg, #697565 20%, #ECDFCC 70%);
  border-radius: 50%;
  color: #181C14;
}

.text-gradient {
  @apply bg-gradient-to-r text-transparent bg-clip-text from-[#FF6500] to-[#697565] font-bold;
}

.bg-gradient {
  background: linear-gradient(
    92.23deg,
    #697565 21.43%,
    #181C14 50.63%,
    #3C3D37 100%,
    #ECDFCC 117.04%
  );
}
.section {
  @apply py-7 lg:py-24 lg:h-screen flex items-center;
  height: max-content;
}

/*css3 design scrollbar*/
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {     
  background: #3C3D37;    
}

::-webkit-scrollbar-thumb {
  background: #697565;
  border: 2px #181C14 solid;
  border-radius:10px;
}